{% extends 'base.html.twig' %}
{% block body %}
    {{ form_start(form) }}
    <div class="form-group">
        <label for="name">Name:</label>
        {{ form_widget(form.Name,{
            'attr':{
                'class':'form-control',
                'placeholder': 'Task name'
            }
        }) }}
        <div class="invalid-feedback">
            {{ form_errors(form.Name) }}
        </div>
    </div>
   
    <input type="submit" name="typeproducts_create" value="Create" class="btn btn-primary"/>
    {{ form_end(form) }}
{% endblock %}
