{% extends 'base.html.twig' %}

{% block body %}
    {{ form_start(form) }}
    <div class="form-group">
        <label for="name">Name:</label>
        {{ form_widget(form.Name,{
            'attr':{
                'class':'form-control',
                'placeholder': 'Task name'
            }
        }) }}
    </div>
   
    <input type="submit" name="typeproducts_edit" value="Edit" class="btn btn-primary"/>
    {{ form_end(form) }}
{% endblock %}
